.promo {
  max-width: 1280px;
  background-color: #073042;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  padding-bottom: 85px;
  justify-content: space-between;
}
.promo__text {
  margin: 0;
  margin-right: 10%;
}
.promo__title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 36px;
  max-width: 640px;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
}
.promo__subtitle {
  margin: 0;
  padding-bottom: 154px;
  max-width: 310px;
  color: #fff;  
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.promo__link {
  margin: 0;
  padding: 10px 20px;
  text-decoration: none;
  width: 129px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #fff; 
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}
.promo__link:hover {
  opacity: 0.7;
}
.promo__logo {
  max-width: 310px;
  max-height: 304px;
  margin-top: 75px;
}
@media (max-width: 850px) {
  .promo {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    padding-bottom: 87px;
  }
  .promo__logo {
    margin: 0 auto;
    padding-top: 140px;
  }
  .promo__text {
    margin: 0 auto;
    text-align: center;
  }
  .promo__title {
    padding-top: 48px;
    max-width: 680px;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px; /* 125% */
    padding-bottom: 22px;
  }
  .promo__subtitle {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 99px;
    max-width: 260px;
  }
 
}
@media (max-width: 400px) {
  .promo__logo {
    max-width: 220px;
    max-height: 210px;
  }
}
@media (max-width: 320px) { 
  .promo__logo {
    margin: 0 auto;
    padding-top: 68px;
    max-width: 210px;
    max-height: 206px;
  }
  .promo__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 126.667% */
    letter-spacing: -1.2px;
    max-width: 300px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .promo__subtitle {
    max-width: 260px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 89px;
  }
  .promo {
    padding-bottom: 39px;
  }
  .promo__text {
   margin-top: -3px;
  }
}
