.search {
  max-width: 1280px;
  margin: 0 auto;
  padding: 58px 70px 48px 70px;
}

.search__form {
  margin: 0;
}

.search__form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 13px;
  border-bottom: 1px solid #e8e8e8;
}

.search__input {
  margin: 0;
  color: #a0a0a0;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  width: 85%;
}

.search__input:focus {
  outline: 2px solid blue;
  border-radius: 48px;
}

.search__button {
  width: 58.65px;
  height: 34px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 163.636% */
  border-radius: 48px;
  background: #3456f3;
  border: none;
  margin-left: 18px;
}

.search__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search__button_active {
  pointer-events: none;
  background: #C2C2C2;
}

.search__message {
  color: #ff3055;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 12px;
  margin: 0;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .search {
    padding: 54px 30px 48px 30px;
  }
}

@media (max-width: 320px) {
  .search {
    padding: 70px 14px 0px 14px;
  }

  .search__input {
    font-size: 18px;
    font-weight: 500;
  }

  .search__button {
    width: 69.65px;
  }
}