.search {
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 70px 48px 70px;
  
}
.search__form {
  margin: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search__input {
  margin: 0;
  color: #A0A0A0;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
width: 700px;
}
.search__input:focus {
  outline: none;
}
.search__button {
  width: 58.65px;
height: 34px;
  color: #FFF;
  text-align: center;  
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 163.636% */
  border-radius: 48px;
  background: #3456F3;
  border: none;
  margin-left: 18px;
}
.search__button:hover {
   opacity: 0.8;
cursor: pointer;
}